body {
  overflow-x: hidden;
  /* scrollbar-width: none; */
  overflow-y: hidden;
}

.App {
  /* overflow-y: hidden; */
  height: auto;
}

::-webkit-scrollbar {
  width: 0;
}

.loading-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.loading-animation .dee {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: black;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.loading-animation .circle {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 100%;
  background-color: rgb(255, 246, 234);
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 2%;
  align-items: center;
  z-index: 100;
}

.circle-header,
.circle-footer {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: auto;
  background-color: rgb(255, 246, 234);
}

.dee-header,
.dee-footer {
  width: 30px;
  margin-top: 3px;
  display: flex;
  height: 30px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  background-color: black;
}

.def {
  flex: 2;
  margin-left: 70px;
  display: flex;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
}

.def p {
  margin: 0;
  line-height: 40px;
}

.right-side {
  display: flex;
  flex: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: auto;
  justify-content: space-around;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(255, 246, 234);
}

.landing-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-image .landing-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(18.0% at 50% 50%);

}

.landing-image-container img {
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}


.landing-description {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  align-items: end;
  font-weight: 600;
  justify-content: space-between;
}

.landing-description .email {
  flex: 2;
  text-transform: uppercase;
}

.landing-description .description {
  flex: 1;
}

.landing-description .description .top {
  margin-bottom: 10%;
  max-width: 80%;
}

.landing-description .description .bottom {
  display: flex;
  justify-content: space-between;
}

.bottom p {
  margin: 0;
}

.first-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.second-section {
  width: 100%;
  height: 100%;
  display: flex;
  /* overflow: hidden; */
}

.second-section .right-section {
  flex: 1;
  padding-right: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section .right-section .image-container {
  width: 60%;
  height: 60%;
  border-radius: 3%;
  margin-top: 10%;
  overflow: hidden;

}

.second-section .left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one,
.nine,
.eight,
.six {
  display: none;
  font-size: 35vw;
  line-height: 30vw;
  font-family: 'kanit';
}

.one,
.nine {
  position: absolute;
  z-index: -1;
}

.third-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  box-sizing: border-box;
  align-items: center;
  font-size: 2vw;
  line-height: 2.3vw;
  font-weight: 400;
  font-family: 'kanit';
}

.third-section .left {}

.third-section .right {
  max-width: 500px;
}


.image-container .image1,
.image-container .image2 {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
}

.image-container .image1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  /* clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%); */
}

.image-container .image2 {
  z-index: 1;
}

.image1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
  transform: scale(1.2, 1.2);
}

.image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.fourth-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
}

.fourth-section .round-div {
  width: 100%;
  height: 90%;
  background-color: rgb(37, 35, 35);
  display: flex;
  border-top-right-radius: 400px;
  padding: 2%;
  padding-left: 4%;
  padding-right: 8%;
  padding-top: 6%;
  box-sizing: border-box;
  justify-content: space-between;
}

.fourth-section .round-div .right-circle {
  /* flex: 1; */
  background-color: antiquewhite;
  width: 500px;
  height: 500px;
  border-radius: 100%;
}

.fourth-section .round-div .left-text {
  flex: 1;
  color: white;
  clip-path: polygon(0 2%, 100% 2%, 100% 98%, 0% 98%);
  font-size: 4vw;
  line-height: 4vw;
  margin-right: 10%;
  position: relative;
  font-family: 'kanit';
}


.fourth-section .round-div .left-text .gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom,
      rgb(37, 35, 35, 1),
      rgb(37, 35, 35, 0),
      rgb(37, 35, 35, 1) 100%);
}



.fourth-section img {
  width: 30%;
  height: 70%;
  object-fit: cover;
  border-radius: 3%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.fourth-section .fifth-text p {
  margin: 0;
  font-size: 9vw;
  font-weight: 600;
  text-align: center;
  color: rgb(255, 246, 234);
}

.fourth-section .fifth-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.text-above-image .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.kanit-bold-italic {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: italic;
}

.fifth-section {
  background-color: rgb(255, 246, 234);
  width: 100%;
  /* height: 100%; */
  font-family: 'kanit';
  font-size: 1.2vw;
  padding: 2%;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.fifth-section .first-row {
  display: flex;
  justify-content: space-between;
  gap: 30%;
}

.fifth-section .first-row .first-column,
.fifth-section .first-row .second-column {
  display: flex;
  justify-content: space-between;
}

.fifth-section .first-row .first-column {
  flex: 1;
}

.fifth-section .first-row .second-column {
  flex: 0.5;
}

.fifth-section .second-row {
  display: flex;
  margin-top: 3%;
  justify-content: end;
}

.fifth-section .third-row {
  display: flex;
  justify-content: space-between;
}

.fifth-section .third-row .first-column {
  display: flex;
  justify-content: space-between;
  flex: 0.45;
  font-size: 1vw;
}

.fifth-section .third-row .second-column {
  /* display: flex; */
  /* flex: 0.5; */
}

.big-def {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.big-def .d,
.big-def .e,
.big-def .f {
  flex: 1;

  margin: 0;
  /* height: 100%; */
}

.big-def p {
  margin: 0;
  font-size: 50vw;
  line-height: 40vw;
  text-align: center;
  /* font-family: 'kanit'; */
  font-weight: 500;
}

.dee-footer {
  height: 82%;
  width: 100%;
  margin-top: 17%;
}

.circle-footer {
  width: 70%;
  height: 70%;
}


.bid-def .d {
  /* width: 100%; */
}

.fifth-section {
  /* position: absolute; */
  /* bottom: 0; */
}

.mouse {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: fixed;
  top: 0;
  background-color: black;
}


.first-section .marquee {
  position: absolute;
  left: 0%;
  top: 50%;
  text-transform: uppercase;
  font-size: 10vw;
  margin: 0;
  display: flex;
  gap: 80px;
  font-weight: 700;
  transform: translate(0%, -50%);
}

.first-section .marquee p {
  margin: 0;
  white-space: nowrap;
  /* text-overflow: ; */
}

.first-section-marquee {
  z-index: -100;
}

.image-marquee {
  color: bisque;
}

/* . {
  z-index: 100;
} */

.loading-animation,
.first-section,
.second-section,
.third-section,
.fourth-section,
.fifth-section {
  /* width: 100%;
    height: 100%; */
  overflow: hidden;
}

@media only screen and (max-width:1024px) {
  body {
    overflow: hidden;
  }


  .third-section .right {
    max-width: 100%;
  }

  /* html,
  body, */
  /* #root,
  .App, */
  .loading-animation,
  .first-section,
  .second-section,
  .third-section,
  .fourth-section,
  .fifth-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .landing-description {
    flex-direction: column-reverse;
    align-items: start;
    margin-bottom: 5%;
  }

  .landing-description .description {
    margin-bottom: 5%;
    font-weight: 500;
  }

  .landing-description .description .top {
    max-width: 100%;
    margin-bottom: 5%;
  }

  .second-section {
    flex-direction: column;
  }

  .second-section .right-section {
    padding: 0;
  }

  .second-section .image-container {
    /* display: none; */
  }

  .eight p,
  .six p,
  .one p,
  .nine p {
    /* position: absolute; */
    margin: 0;
    font-size: 60vw;
    font-weight: 700;
  }

  /* .second-section .left-section{

  } */

  .second-section .right-section .one {
    display: none;
  }

  .second-section .right-section .nine {
    display: none;
  }

  .second-section .left-section .one-nine {
    width: 100%;
    height: 100%;
  }

  .one,
  .nine {
    position: relative;
  }

  .one-nine {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  .second-section .left-section {
    position: relative;
  }

  .third-section {
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding-top: 10%;
    align-items: start;
    box-sizing: border-box;
    font-size: 5vw;
    line-height: 6vw;
  }

  .fourth-section .round-div {
    border-top-right-radius: 40px;
    flex-direction: column;
  }

  .fourth-section .round-div .left-text {
    flex: 2;
    margin: 0;
    font-size: 10vw;
    line-height: 12vw;
    overflow: hidden;
  }

  .fourth-section .round-div .right-circle {
    align-self: flex-end;
  }

  .fourth-section img {
    width: 70%;
  }

  .fifth-section .first-row {
    flex-direction: column;
  }

  .fifth-section .first-row .first-column,
  .fifth-section .first-row .second-column,
  .fifth-section .third-row,
  .fifth-section .second-row,
  .fifth-section .third-row .first-column,
  .fifth-section .third-row .second-column {
    flex-direction: column;
    font-size: 5vw;
    gap: 0;
  }

  .fifth-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3%;
  }



  .fifth-section .first-row .second-column {
    flex-direction: row;
    justify-content: start;
  }

  .fifth-section p {
    margin: 1%;
  }

  .fifth-section hr {
    width: 100%;
  }

  .fifth-section .first-row {
    gap: 0;
  }

  .fifth-section .third-row {
    font-weight: 300;
  }

  .header {
    padding: 4%;
    box-sizing: border-box;
  }

  .header .def {
    margin: 0;
    flex: 1;
  }

  .header .right-side {
    flex: 3;
    font-weight: 500;
  }

  .header .arch {
    font-size: 12px;
  }

  .landing-image .landing-image-container {
    clip-path: circle(21.0% at 50% 50%);

  }
}